name: Deploy Website
on:
  push:
    branches:
#      - main
      - dev/ver/v**
    paths:
      - 'website/**'

jobs:
  deploy-website:
    name: Deploy Website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: npm
          cache-dependency-path: ./website/package-lock.json

      - run: |
          npm ci
          npm run build
        working-directory: ./website

      # https://github.com/marketplace/actions/github-pages-action
      - name: Push to doc repository
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.PUSH_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./website/build

